@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.google-create {
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3),0px 1px 3px 1px rgba(60,64,67,0.15);
}

.google-create::after {

}

.google-create:active::after {

}

.google-create:hover {
    background-color: #f6fafe;
    box-shadow: 0px 4px 4px 0px rgba(60,64,67,0.3),0px 8px 12px 6px rgba(60,64,67,0.15);
}

.google-modal-shadow {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2)
}

.prev-month-anim {
    animation: pushing-right .2s ease-out
}
.next-month-anim {
    animation: pushing-left .2s ease-out;
}

@keyframes pushing-right {
    0% {
        transform: translateX(-30px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pushing-left {
    0% {
        transform: translateX(30px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}